
/* raleway font */
.raleway-normalfont{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* inter font */

.inter-secondaryfont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* body styles */
.body{
    margin: 0;
    padding: 0;
    background-color: rgb(245, 248, 255) !important;

}
 
/*Shared  styles*/
.text-primary-color{
      color: rgba(78, 71, 255, 1);
}
.btn-primary{
    background-color:rgba(78, 71, 255, 1); 
    padding: 12px 35px;
    color: white;
    border-radius: 5px;
    border: none;   
}
  /* btn animation */
button:hover{
    transform: scale(1.2);
    transition: 2s;
    background-color: #C8B1E6;
    color: black;

}
.text-center{
    text-align: center;
}
/* Header styles */
.header{
    background-image: url(../Assets/Hero-bg.png);
}
/* Nav styles */
nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 150px;
} 
.nav-logo{
      font-size: 34px;
      font-weight: 900;
}
.secondary-bg{
    /* background-color:rgb(225, 218, 245);   */
    background-color: #d9d9fb;

}
/* Banner styles */
.banner{
      width: 905px;
      margin: 0 auto;
      padding-bottom: 150px;
    
}
.banner-title{
    font-weight: bold;
    font-size: 65px;
}
.stay-btn{
    text-align: center;
}
/* main style */
main section{
    width:1140px;
}
/* action css */
.s1-action{
    display: flex;
    gap: 220px;
    margin: 116px auto;
 
}
.action-title{
    font-size: 42px;
    font-weight: bold;
}
.action-description{
    font-size:24px;
    font-weight:400px ;
    color: rgba(37, 36, 50, 0.5);
}
.action-img{
     border-radius: 48px;
}
/* Productive Users  styles*/
.s2-productive-User{
     margin: 116px auto;
     border-radius: 24px ;
}
.productive-user-box{
     padding: 50px 130px ;
}
.Productive-users-title {
    font-size: 38px;
    font-weight: bold;
}
.productive-users-container{
    display: flex;
    justify-content: center;
    justify-content:space-between;

    margin: 0 142px;

}
.number{
    font-size: 50px;
    font-weight: 800;
    color: rgba(78, 71, 255, 1);
}
.product-usr-description{
     font-size: 20px;
     font-weight: 400;
     color: rgba(0, 0, 0, 0.5);
}
/* What our users say  styles s3 */
.s3-what-users-say{
     margin: 137px auto;
}
.what-users-say-title{
    font-size: 42px;
    font-weight: bold;
}
.what-users-say-container{
    display: flex;
    gap: 20px;
}
.card{
   padding: 20px;
    background-color: #FFFFFF;
    border-radius: 14px;
    box-shadow: 0 5px 5px 5px #FFF9F9 ; 
}
.reviewer-parent{
    display: flex;
    gap: 12px;
    align-items: center;
    
}
.reviwer-pic{
    border-radius: 50%;
    width: 40px;
    height: 40px;  
}
.reviewer-child{
    display: block;
}
.reviewer-name{
     color: #757575;
}
.reviewer-date{
    font-size: 14px;
    color: #B3B3B3;
}
/* ready to focus better styles  s5*/
.s4-ready-to-focus-better{
    margin: 137px auto;
    display: flex;
    justify-content: space-around;
}
.ready-focus-title{
    font-size: 50px;
    font-weight: bold; 
   
}
.ready-focus-subtitle{
     color: (0, 0, 0, 0.5);
     padding-bottom: 20px;
}
.Ger-Started-btn{
     padding-bottom: 20px;
}
.ready-focus-coverpic{
    align-items: center;
    border-radius:48px ;

}
/* Let’s Get in Touch styles  */
 .s5-lets-get-touch{
    margin: 137px auto;
 }
 .column-container{
    display: flex;
    gap: 115px;
    justify-content: center;
    align-items: center;

 }
 .left-column{
    width: 100%;
 }
 .column-title{
    font-size:97px;
    font-weight: bold;
 }
 .right-column{
    display: block;
 }
 .right-column label{
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 500;
 }
 .right-column input[type="email"],input[type="text"],textarea{
    height: 70px;
    border-radius: 10px;
    width: 100%;
    background-color:rgb(247, 244, 244) ;
    border: none;
    padding-left: 20px;
   
 }
 .btn-touch{
     width: 100%;
     height: 62px;
    margin-top: 19px;
 }
 /* footer styles */
 .footer-container{
    width: 531px;
    margin: 104px auto;

 }
.big-logo{
     font-size: 100px;
     font-weight: 900;
}
.logo-description{
    padding:8px 0 20px 0 ;
    color: rgba(137, 135, 161, 1);
}
.nav-link{
    display: flex;
    justify-content: center;
    gap: 48px;
}
.nav-link a{
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
}